<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        .body {
            font-family: Arial;
        }
        p {
            margin-bottom: 5px;
            margin-top: 5px;
        }

       

       
    </style>

</head>
<body>
    <div style="background: #fff; padding:20px">
            <table style="width:100%; margin-top:20px">
            <tbody>
                <tr style="background-color:grey; color:white">
                    <th style="text-align:left; padding:3px">Vuelo Ida</th>
                    <th style="text-align:right; padding:3px">Fecha Salida</th>
                    <th style="text-align:right; padding:3px">Fecha Llega</th>
                    <th style="text-align:left; padding:3px"> Vuelo Vuelta</th>
                    <th style="text-align:right; padding:3px">Fecha Salida</th>
                    <th style="text-align:right; padding:3px">Fecha Llega</th>
                </tr>

                {Contenido}


            </tbody>
        </table>

    </div>
</body>
</html>
